 ul li.folder, ul li.file {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
}

a.folder {
    display: flex;
    color: #595c5f;
    font-size: 12px;
    width: 77.5px;
    height: 35px;
    flex-direction: row;
}

#files{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    flex-direction: column;
}

#dirlist, #filelist{
    position: relative;
    display: flex;
    gap: 2em;
    flex-direction: column;
    overflow: hidden;
}

.dirname{
    position: absolute;
    left: 10%;
}

.filename{

    position: absolute;
    left: 10%;
    overflow: hidden;
}

.filesize{
    display: inline;
    position: absolute;
    right: 6%;
}


 #text{
    display: flex;
    align-content: center;
    font-size: 1.3em;
}



#view_change{
    display: flex;
    width: 60px;
    height: 60px;
    background-color: rgb(44,154,165);
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
}

#grid_view{
    display: none;
}

#list_view{
    display: block;
}

  


/*最小xxx px才不会触发 或者直接让css完全固定 @media screen*/

@media (max-width: 872px) {
        body{
            /*width: 730px;*/
            width: 756px;
        }
}

