* {
    margin: 0;
    padding: 0;
 }

 ul {
     padding: 0;
     list-style: none;
 }

a {
    height: 24px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: orange;
}

#nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

#path{
    display: flex;
    align-content: center;
    gap: 1.5em;
 }

#path #menu{
    text-decoration: none;
    font: 1.2em sans-serif;
}

#path li a{
     overflow: hidden;
     width: 150px;
     transition: all 0.2s linear 0.1s;
     border: 1px solid #CCC;
     border-radius: 8px;
 }

#path ul{
    display: flex;
    align-items: center;
 }

#path ul li{
    display: inline-flex;
}

#setting{
    position: fixed;
    right: 1%;
    bottom: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#view_change{
    display: flex;
    width: 60px;
    height: 60px;
    background-color: rgb(44,154,165);
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
}