* {
    margin: 0;
    padding: 0;
 }

 ul {
     padding: 0;
     list-style: none;
 }


 ul li:hover{
    
 }


a {
    height: 24px;
    line-height: 20px;
    text-align: center; 
}

#nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

#path{
    display: flex;
    align-content: center;
    gap: 1.5em;
 }

#path #menu{
    color: orange;
    text-decoration: none;
    font: 1.2em sans-serif;
}

#path li a{
     overflow: hidden;
     width: 150px;
     position: relative;
     transition: all 0.2s linear 0.1s;
     border: 1px solid #CCC;
     border-radius: 8px;
 }

#path ul{
    display: flex;
    align-items: center;
 }

#path ul li{
    display: inline-flex;
}

