<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
</head>
<script src="..\js\vue.global.prod.js"></script>
	
<body>
	<div id="list-rendering">	<!-- 这个for文字就可以做到整个标签内都是作用域 -->
  <ol>
    <li v-for="todo in todos">	<!-- 经典for循环 从todos列表里寻找 但是调用起来时却又是todo的子属性 -->
      {{ todo.text }}
      {{ todo.text2 }} 			<!-- 也允许在同一个标签内写上两个同父属性的标签 -->
      {{ todo.description}}
    </li>
  </ol>

  <div class="app1">
    <head1></head1>     <!-- 这样你就可以在一个节点内多次调用该app的组件 -->
  </div>

</div>


<form action="post" id="radio">
  <input type="radio" v-model="selected" value="head">哼哼 啊啊啊</input>
  <div id="status">{{ output }}</div>
<input @keyup.enter.prevent="submit"></input>
</form>


</body>
<script type="text/javascript">
		const ListRendering = {
  data() {
    return {
      todos: [
        { text: 'Learn JavaScript' },
        { text: 'Learn Vue' },
        { text: 'Build something awesome' },
        { text2: 'JavaScript' },
        { text2: 'Vue' },
        { text2: 'awesome' },
        { description:"比单独文字标签不知道高到哪里去了"}
      ]
      
    }
  },

}

Vue.createApp(ListRendering).mount('#list-rendering')



const component_head1 = Vue.createApp({})   //先创建app

component_head1.component('head1', {      //然后将app组件化 (标签组件名,{执行体})
    data() {
    return {
      count: 0
    }
  },
    template: 
  `<h4>自定义组件!</h4>
  <button @click="count++">点了 {{ count }} 次！ </button>` //模板内容  新生成的count会自动绑定在data的数据库里
  
   
    
}).mount('.app1')              //但是调用组件前必须要前置挂载位创立
 

const app2 = Vue.createApp({
data(){
  return {
    output:"?",
  }
}
  
}).mount("#radio")


	</script>

  

</html>
