@font-face {
  font-family: "iconfont"; /* Project id 3615376 */
  /* Color fonts */
  src: 
       url('iconfont.ttf?t=1661699940693') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjianleixing-biaozhuntu-shipinwenjian:before {
  content: "\e6a5";
}

.icon-wenjianleixing-biaozhuntu-wenjianjia:before {
  content: "\e6a6";
}

.icon-a-wenjianjiawenjian:before {
  content: "\e69e";
}

